.container {
    max-width: 960px;
    margin: 0 auto;
}
h1 {
    text-align: center;
}

.infos {
    background-color: #E7E7E7;
    width: 100%;
    padding-bottom: 20px;
    img {
        float: left;
        width: 22%;
        margin-left: -20px;
        
        padding-right: 30px;
    }
    .detail {
        #datesortie {
            color: red;
            font-size: 2em;
            span {
                color: red;
            }
        }
    }
    h3 {
        color: red;
        font-size: 1.4em;
    }
    
}

#video {
    padding-top: 30px;
    iframe {
        width: 100%;
    }
}

